@tailwind base;
@tailwind components;
@tailwind utilities;

.card-body p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Webkit-specific */
    -webkit-box-orient: vertical;
  
    /* Standard property for compatibility */
    line-clamp: 3;
    box-orient: vertical;
  }
  

/* Add a fade-out transition effect */
.article {
    opacity: 1;
    transition: opacity 0.5s ease-out;
  }
  
  .article.loading {
    opacity: 0;
  }
  